.selected-category {
  .header {
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 425px) {
      flex-direction: column;
    }

    .title {
      font-size: 3.5rem;
      font-weight: 300;

      @media (max-width: 425px) {
        margin-bottom: 3rem;
      }
    }

    .right {
      color: #d8d8d8;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 575.98px) {
        justify-content: space-around;
      }
      .icon {
        font-size: 3.5rem;
      }
      .type {
        font-size: 2.5rem;
        margin-right: 1rem;
        @media (max-width: 575.98px) {
          margin-right: 0;
        }
      }
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }
  }
}
