.side-menu {
  width: 30rem;
  height: 100vh;
  background-color: #ffffff;
  margin-left: 0.5rem;
  position: relative;
  overflow: hidden;

  @media (max-width: 575.98px) {
    width: 50vw;
  }

  @media (max-width: 375.98px) {
    width: 80vw;
  }
}
