.basket-menu {
  width: 30rem;
  height: 100vh;
  background-color: #ffffff;
  margin-left: 0.5rem;
  position: relative;
  overflow: hidden;

  @media (max-width: 575.98px) {
    width: 50vw;
  }

  @media (max-width: 375.98px) {
    width: 80vw;
  }

  .basket-side-menu {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 5rem;
      font-weight: 200;
      margin-bottom: 2rem;
    }
    .basket-items {
      width: 80%;
      height: 350px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .empty-message {
        font-size: 18px;
        margin: 50px auto;
      }
    }
  }
}
