.search-page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#ffffff, 0.8),
      rgba(#dddddd, 0.8)
    ),
    url(https://i.ibb.co/fnF5r1d/search-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
