.recomended {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow {
    color: #0023ff;
    cursor: pointer;

    &:active {
      font-weight: 900;
    }

    @media (max-width: 425px) {
      margin: 4rem;
      transform: rotate(90deg);
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;

    @media (max-width: 991.98px) {
      grid-gap: 10px;
    }

    @media (max-width: 767.98px) {
      grid-gap: 20px;
    }

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }

  @media (max-width: 425px) {
    flex-direction: column;
  }
}
