.header {
  width: 50%;
  margin-top: 50px;

  &__heading {
    font-size: 12rem;
    font-weight: 100;
  }
  &__text {
  }
  &__button {
    background-color: blue;
    color: white;
    border: 0;
    padding: 2rem 4rem;
    border-radius: 50px;
    outline: none;
    margin: 2rem 0;
  }
}
